In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [118]:
data = pd.read_csv('details_test.csv')
data.head()

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"

In [119]:
# One HOT Encoding
data['Production Country'].replace(np.nan, "United States", inplace=True)

In [120]:
# Show the most number of tv-shows and movies released by each country in descending orderd
data['Production Country'].value_counts().sort_values(ascending=False)

United States                                                   2351
India                                                            628
United Kingdom                                                   244
Japan                                                            221
South Korea                                                      167
                                                                ...
Romania, United Kingdom                                            1
Lebanon, Qatar                                                     1
India, Pakistan                                                    1
United Kingdom,                                                    1
Sweden, Czech Republic, United Kingdom, Denmark, Netherlands       1
Name: Production Country, Length: 509, dtype: int64

In [121]:
subdatap1 = data.groupby('Content Type')
subdatap2 = subdatap1['Production Country'].value_counts()
subdataframe = pd.DataFrame(subdatap2)
subdataframe

                                                       Production Country
Content Type Production Country
Movie        United States                                           1466
             India                                                    589
             United Kingdom                                           103
             Spain                                                     88
             Nigeria                                                   78
...                                                                   ...
TV Show      United States, Poland                                      1
             United States, Russia                                      1
             United States, Sweden                                      1
             United States, United Kingdom, Australia                   1
             Uruguay, Germany                                           1

[590 rows x 1 columns]

In [ ]:
# Also plot a countplot of each country.
import seaborn as sb

sb.countplot(x = 'Production Country', data = data)